body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  color: white;
}

.section-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background: var(--secondary-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 120px;

  background: var(--secondary-color);
  color: #FFCB05;
  font-size: 32px;
  padding: 0 40px;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
  background: var(--primary-color);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 1440px;
  height: 120px;
  margin-top: auto;
  background: var(--secondary-color);
}

.logo img{
  width: 350px;
}

h1{
    font-size: 42px;
}

.contact{
  font-size: 21px;
text-align: center;

}