* {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration: none;
  /* position: relative; */
  object-fit: cover;
  font-family: "Roboto";
}

:root {
  --primary-color: #0b4da2;
  --secondary-color: #07224e;
}
