body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
}

.section-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #082129;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 120px;
  background-color: #082129;
  color: white;
  font-size: 32px;
  padding: 0 40px;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
  background: linear-gradient(#05171e, #0b191f);
}

main {
  display: flex;
  align-items: center;
  max-width: 1440px;
  padding: 0 40px;
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 1440px;
  height: 120px;
  margin-top: auto;
  background-color: #082129;
}

#loading-overlay{
  position:fixed;
 inset: 0;
  width: 100vw;
  height: 100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background: black;
  z-index:9999;
  color:white;
  font-size:20px;
  width: 100%;
}

#pokemon-listing{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 48px;
  margin: 40px 0;
}

.pokemon-entry{
  color: white;
  min-width: 210px;
  min-height: 250px;
  /* border: 2px solid white; */
transition: 0.25s ease;
}

.pokemon-entry:hover{
    transform: scale(1.06) translateY(-4px);
  filter: drop-shadow(0 0 8px rgba(255,255,255,0.15));
}

.pokemon-entry header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #082129;
  min-height: 32px;
  padding: 6px 12px;
}

section img{
  max-width: 210px;
  display: block;
    background: rgb(4, 53, 4);
}

.pokemon-entry footer{
  display: flex;
  justify-content: space-between;
  background: #082129;
  padding: 12px 8px;
}

.loadButton{
  border-radius: 16px;
  border: none;
  background-color: chocolate;
  height: 48px;
  width: 240px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s ease;
}

.loadButton:hover{
  transform: scale(1.1);
}