body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
}

.section-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #082129;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 120px;
  background-color: #082129;
  color: white;
  font-size: 32px;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
  background: linear-gradient(#05171e, #0b191f);
}

main {
  display: flex;
  align-items: center;
  max-width: 1440px;
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 1440px;
  height: 120px;
  margin-top: auto;
  background-color: #082129;
}

#loading-overlay{
  position:fixed;
 inset: 0;
  width: 100vw;
  height: 100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background: black;
  z-index:9999;
  color:white;
  font-size:20px;
  width: 100%;
}

#pokemon-listing{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 48px;
}

.pokemon-entry{
  color: white;
  min-width: 90px;
  min-height: 120px;
  border: 2px solid red;

}

.pokemon-entry header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 32px;
  padding: 6px 12px;
}

section img{
  max-width: 150px;
    background: rgb(4, 53, 4);
}

.pokemon-entry footer{
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
}