body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
}

.section-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #082129;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 120px;
  background-color: #082129;
  color: white;
  font-size: 32px;
  padding: 0 40px;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
  background: linear-gradient(#05171e, #0b191f);
}

main {
  display: flex;
  align-items: center;
  max-width: 1440px;
  padding: 0 40px;
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 1440px;
  height: 120px;
  margin-top: auto;
  background-color: #082129;
}

#loading-overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  z-index: 9999;
  color: white;
  font-size: 20px;
  width: 100%;
}

#pokemon-listing {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 48px;
  margin: 40px 0;
}

/* Einzelne Pokemon */

.pokemon-entry {
  color: white;
  min-width: 210px;
  min-height: 250px;
  transition: 0.25s ease;
}

.pokemon-entry:hover {
  transform: scale(1.06) translateY(-4px);
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.15));
}

.pokemon-entry header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #082129;
  min-height: 32px;
  padding: 6px 12px;
}

.image-preview {
  max-width: 210px;
  display: block;
  background: rgb(4, 53, 4);
}

.pokemon-entry footer {
  display: flex;
  justify-content: space-between;
  background: #082129;
  padding: 12px 8px;
}

.loadButton {
  border-radius: 16px;
  border: none;
  background-color: chocolate;
  height: 48px;
  width: 240px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s ease;
}

.loadButton:hover {
  transform: scale(1.1);
}

/* Dialog */

#image-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5%;
  background: #082129;
  border: 3px solid #d47a1c;
  /* box-shadow: 0 0 22px rgba(212, 122, 28, 0.35),
    inset 0 0 6px rgba(212, 122, 28, 0.15); */
  /* background: #0e2a31ee; */
  /* backdrop-filter: blur(8px); */
  min-height: 640px;
  width: 480px;
  padding: 0px 0;
}

.dialog-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 640px;
}

dialog header {
  display: flex;
  justify-content: space-between;
  padding: 12px 32px;
  padding-right: 210px;
}

dialog header span {
  font-size: 24px;
  color: white;
}

h2 {
  color: white;
  font-size: 24px;
}

#dialog-image-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 280px;
  /* background: linear-gradient(135deg, #7a2410, #ff8a3a); */
  padding-top: 32px;
}

#dialog-image {
  width: 210px;
}

#dialog-type {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 16px 0;
  margin-bottom: 16px;
  background: #082129;
}

#dialog-type div{
  gap: 6px;
  padding: 6px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  color: white;
}

.dialog-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  /* height: 120px; */
  margin-top: auto;
  background-color: #082129;
}

#footer-section {
  width: 100%;
  height: 240px;
}

.button-area {
  display: flex;
  justify-content: space-between;
  height: 32px;
}

.dialog-category-button {
  width: 33.34%;
  background-color: #0c2d38;
  color: white;
  border: none;
}

.dialog-category-button:hover {
  background-color: #114050;
}

#info-area {
  height: 210px;
  background-color: #082129;
}

#dialog-footer-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-arrow {
  margin: 0 32px;
  background: #082129;
  border: 0;
  margin-top: 8px;
}

button img {
  width: 36px;
}

#info-area{
  width: 100%;
  color: white;
}

table{
  width: 60%;
}

tbody tr{
display: flex;
flex-direction: row;
}

tbody tr td{
  display: flex;
  flex-direction: column;
  font-size: 21px;
}

td:first-child{
  padding-left: 16px;
}

#height{
padding-right: 62px;
}

#weight{
padding-right: 43px;
}

#ability{
  padding-right: 4px;
}

#main-area{
  display: block;
}

#stats-area{
display: none;
}

#shiny-area{
display: none;
}