body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
}

body:has(#image-dialog[open]) {
  overflow: hidden;
}

.section-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background: var(--secondary-color);
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 120px;
  background: var(--secondary-color);
  padding: 0 40px;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
  background: var(--primary-color);
}

main {
  display: flex;
  align-items: center;
  max-width: 1440px;
  padding: 0 40px;
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 1440px;
  height: 120px;
  margin-top: auto;
  background: var(--secondary-color);
  position: relative;
}

#loading-overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  z-index: 9999;
  width: 100%;
}

h1 {
  display: none;
}

.logo img {
  width: 350px;
}

.input-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 96px;
  width: 280px;
}

#filter-matches{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: rgb(160, 160, 159);
  color: white;
}

#input-message{
padding-top: 8px;
padding-right: 24px;
z-index: 1;
height: 12px;
color: red;
}

input {
  width: 210px;
  height: 32px;
  font-size: 16px;
}

#pokemon-listing {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;
  gap: 48px;
  margin: 40px 0;
}

/* Einzelne Pokemon */

.pokemon-entry {
  color: white;
  min-width: 210px;
  min-height: 250px;
  transition: 0.25s ease;
  border-radius: 16px;
  background: var(--secondary-color);
  overflow: hidden;
}

.pokemon-entry:hover {
  transform: scale(1.06) translateY(-4px);
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.15));
}

.pokemon-entry header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary-color);
  min-height: 32px;
  padding: 6px 12px;
}

h3 {
  font-size: 19px;
}

.id-sign {
  font-size: 19px;
  color: white;
}

.image-preview {
  max-width: 210px;
  display: block;
  background: rgb(4, 53, 4);
}

.pokemon-entry footer {
  display: flex;
  justify-content: space-between;
  background: var(--secondary-color);
  padding: 12px 8px;
}

.loadButton {
  border-radius: 16px;
  border: none;
  background-color: #ffcb05;
  height: 48px;
  width: 240px;
  color: #07224e;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s ease;
}

.loadButton:hover {
  transform: scale(1.1);
  background-color: #e6b800;
  cursor: pointer;
}

.impressum-link {
  font-size: 16px;
  color: white;
}

a.impressum-link:hover {
  text-decoration: underline;
}

.impressum-wrapper {
  position: absolute;
  right: 40px;
}

.impressum-headline {
  display: block;
  text-align: center;
}

.impressum-main {
  text-align: center;
}

@media (max-width: 821px) {
  .main-header {
    padding: 0 24px;
  }

  main {
    padding: 0 24px;
  }

  .logo img {
    width: 320px;
  }

#input-message{
padding-right: 8px;
font-size: 15px;
}

  input {
    width: 160px;
    height: 28px;
    font-size: 16px;
  }

  .input-area{
  width: 260px;
}

  #pokemon-listing {
    gap: 28px;
    margin: 36px 0;
  }

  .pokemon-entry {
    min-width: 0px;
    width: 150px;
    min-height: 220px;
  }

  .pokemon-entry header {
    align-items: flex-end;
    min-height: 32px;
    padding: 2px 12px;
  }

  h3 {
    font-size: 17px;
  }

  .id-sign {
    font-size: 17px;
  }

  header span {
    font-size: 17px;
  }

  .image-preview {
    max-width: 150px;
  }
}

@media (max-width: 569px) {
  .main-header {
    padding: 0 18px;
  }

  main {
    padding: 0 18px;
  }

  .loading-image {
    width: 240px;
  }

  .logo img {
    width: 240px;
  }

  input {
    height: 26px;
  }

    .input-area{
  width: 210px;
}

  #input-message{
padding-right: 0px;
font-size: 14px;
padding-top: 5px;
}

  #pokemon-listing {
    gap: 21px;
    margin: 32px 0;
  }

  .pokemon-entry {
    width: 120px;
    min-height: 0px;
    height: 180px;
  }

  .pokemon-entry header {
    min-height: 28px;
    padding: 2px 12px;
    padding-left: 6px;
  }

  .id-sign {
    display: none;
  }

  h3 {
    font-size: 16px;
    width: 100%;
    text-align: end;
  }

  header span {
    margin-top: 2px;
    font-size: 14px;
  }

  .image-preview {
    max-width: 120px;
  }

  .pokemon-entry footer {
    justify-content: space-between;
    padding: 8px 6px;
    min-height: 28px;
  }

  .main-footer {
    flex-direction: column;
    gap: 8px;
    flex: 0;
  }

  .loadButton {
    height: 40px;
    width: 210px;
    margin-bottom: 0px;
    margin-right: 48px;
  }

  .impressum-link {
    margin-top: 16px;
    margin-left: 12px;
    text-align: center;
  }

  .impressum-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 453px) {
  h1 {
    font-size: 36px;
  }

  .main-header {
    flex-direction: column;
    padding: 0 12px;
  }

  .loading-image {
    width: 180px;
  }

  .logo {
    height: 80px;
  }

  .logo img {
    width: 180px;
    height: 80px;
  }

   h3 {
    font-size: 15px;
  }

  .pokemon-entry header {
    padding: 2px 6px;
  }

  .input-area{
  margin-top: 10px;
  width: 280px;
}

  #input-message{
padding-right: 0px;
font-size: 14px;
padding-top: 8px;
}

  main {
    padding: 0 12px;
  }

  .loadButton {
    font-size: 15px;
    height: 36px;
    width: 180px;
    margin-bottom: 4px;
    margin-right: 0px;
  }

  .impressum-link {
    margin-top: 16px;
    margin-left: 66px;
    text-align: center;
  }
}
