.type{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 4px 10px;
  margin: 0 8px;
  border-radius: 999px;
  font-size: 0.85rem;
  font-weight: 500;
  width: 80px;
}

.type::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.grass {
  background: linear-gradient(135deg, #184d37, #2f8c57);
}

.grass::before {
  background: #b4f2c9;
}

.fire {
background: linear-gradient(135deg, #781216, #e0573c);
}

.fire::before {
 background: #ffe0cc;
}

.water {
  background: linear-gradient(135deg, #15406e, #3f8cff);
}

.water::before {
  background: #8dd2ff;
}

.electric {
  background: linear-gradient(135deg, #8c6b00, #ffe04a);
}

.electric::before {
  background: #fff7a8;
}

.poison {
  background: linear-gradient(135deg, #14352f, #34d1a1);
}

.poison::before {
  background: #b7ffe6;
}

.ground {
  background: linear-gradient(135deg, #5a3a16, #c7904a);
}

.ground::before {
  background: #f3d1a2;
}

.rock {
  background: linear-gradient(135deg, #4d3d1d, #b59b63);
}
.rock::before {
  background: #e8d8a9;
}

.bug {
  background: linear-gradient(135deg, #596d0b, #c6d94a);
}

.bug::before {
  background: #f2ffb3;
}

.flying {
  background: linear-gradient(135deg, #5b6fb8, #889de9);
}

.flying::before {
  background: #c7d5ff;
}

.psychic {
  background: linear-gradient(135deg, #432363, #9a5ad8);
}

.psychic::before {
  background: #dcc8ff;
}

.ice {
  background: linear-gradient(135deg, #3b6f88, #b8f2ff);
}

.ice::before {
  background: #f3fdff;
}

.dragon {
  background: linear-gradient(135deg, #2b2277, #5d48e5);
}

.dragon::before {
  background: #b5a7ff;
}

.steel {
  background: linear-gradient(135deg, #4b4f54, #9ea8b2);
}

.steel::before {
  background: #d6dde5;
}

.dark {
  background: linear-gradient(135deg, #2c1e22, #5e4754);
}

.dark::before {
  background: #bfa4b7;
}

.ghost {
  background: linear-gradient(135deg, #3b2a6e, #6e59a9);
}

.ghost::before {
  background: #cfc1ff;
}

.fighting {
  /* background: linear-gradient(135deg, #702d1f, #b64936); */
   background: linear-gradient(135deg, #6a2d1b, #a85a32);
}

.fighting::before {
  /* background: #ffb1a4; */
  background: #ffbda1;
}

.fairy {
  background: linear-gradient(135deg, #b53f9c, #ff9fe8);
}

.fairy::before {
  background: #ffe2f7;
}

.normal {
  background: linear-gradient(135deg, #7c7570, #bdb5ac);
}

.normal::before {
  background: #e8e4df;
}

.stellar {
  background: linear-gradient(135deg, #3a3a3a, #909090);
}

.stellar::before {
  background: #fff;
}

.unknown {
    background: linear-gradient(135deg, #7c7570, #bdb5ac);
}

.unknown::before {
  background: #e8e4df;
}

@media(max-width:821px){

  .type{
  gap: 4px;
  padding: 4px 10px;
  margin: 0 6px;
  font-size: 0.75rem;
  width: 64px;
}

.type::before {
  content: none;
}
}

@media(max-width: 569px){
  .type{
  gap: 2px;
  padding: 2px 8px;
  margin: 0 6px;
  font-size: 0.75rem;
  width: 48px;
}
}